/* App.css */
body {
  background-color: #2d2d2d; /* Fondo gris oscuro */
  color: #ffffff; /* Texto blanco */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  text-align: center;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.instructions {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #bbbbbb; /* Color más claro para el texto de instrucciones */
}

.algorithm-section {
  margin-bottom: 25px;
  text-align: left;
  padding: 20px;
  background-color: #3a3a3a;
  border-radius: 8px;
  width: 100%;
}

.algorithm-section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #76c7c0; /* Verde azulado para el título */
}

.parameters {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.parameters label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.parameters label input[type="text"] {
  padding: 8px;
  margin-left: 10px;
  width: 80%;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #4a4a4a;
  color: #ffffff;
}

.parameters label input[type="checkbox"] {
  margin-left: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #76c7c0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5aa9a4;
}

button:active {
  background-color: #3a7b73;
}
